@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
    background: #eeeceb;
}
footer{
    position: fixed;
    background: #140b5c;
    width: 100%;
    bottom: 0;
    left: 0;    
}
footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}
footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .top .logo-details{
    color: #fff;
    font-size: 30px;
}
.content .top .media-icons{
    display: flex;
}
.content .top .media-icons a{
    height: 40px;
    width: 40px;
    background: red;
    margin: 0 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
    background: #4267b2;
}
.top .media-icons a:nth-child(1):hover{
    background: #fff;
    color: #4267b2;
}
.top .media-icons a:nth-child(2){
    background: #1da1f2;
}
.top .media-icons a:nth-child(2):hover{
    background: #fff;
    color: #1da1f2;
}
.top .media-icons a:nth-child(3){
    background: #e1306c;
}
.top .media-icons a:nth-child(3):hover{
    background: #fff;
    color: #e1306c;
}
.top .media-icons a:nth-child(4){
    background: #0077b5;
}
.top .media-icons a:nth-child(4):hover{
    background: #fff;
    color: #0077b5;
}
.top .media-icons a:nth-child(5){
    background: #ff0000;
}
.top .media-icons a:nth-child(5):hover{
    background: #fff;
    color: #ff0000;
}